:host(.search-bar) {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.search-box {
    width: 100%;
    position: relative;
}

.search-container {
    border: 1px solid #999999;
    display: flex;
    padding: 8px;
    border-radius: 5px;
    align-items: center;
    transition: all 0.5s ease-in-out;
    outline-offset: 4px;
}

.search-input {
    width: calc(100% - 140px);
    font-size: 12px;
    border: none;
    padding: 0 8px 0 8px;
    border-right: 1px solid #313131;
    outline: none;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}

.search-select {
    width: 100px;
    border: none;
    -webkit-appearance: none;
    margin-left: 8px;
    outline: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 12px;
    -webkit-appearance: none;
}

.focused {
    border: 1px solid #313131;
    transition: all 0.5s ease-in-out;
    /*outline: 2px solid orange;*/
    /*outline-offset: 4px;*/
}

.search-box-results {
    position: absolute;
    overflow-y: scroll;
    max-height: 0;
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    border-top: 0 solid transparent;
    top: 34px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 99999;
    min-height: 4px;
}

.visible {
    top: 34px;
    opacity: 1;
    border: 1px solid #313131;
    border-top: 0 solid transparent;
    transition: all 0.5s ease-in-out;
    max-height: 50vh;
    min-height: 4px;
}

.search-box-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 18px 4px;
    gap: 12px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    font-size: 13px;
}

.search-box-row div:nth-child(2) {
    flex-grow: 1;
}

.search-box-row:hover {
    background-color: #e5e5e5;
    transition: background-color 0.5s ease-in-out;
}

.search-box-row img {
    width: 45px;
    height: 45px;
    object-fit: fill;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

.loading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nothing-found {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

@media (min-width: 768px) {
    .search-input {
        font-size: 16px;
    }

    .search-select {

        width: 290px;
        margin-left: 24px;
        font-size: 16px;
    }

    .search-box-results {
        top: 38px;
    }

    .visible {
        top: 38px;
    }

    .search-box-row img {
        width: 80px;
        height: 80px;
    }

    .search-box-row {
        font-size: 15px;
    }
}