<div class="container">
    <div>
        <div><span class="user-quicksell">Hello, </span>Random User</div>
        <div class="user-quicksell">|</div>
        <div class="user-quicksell">
            <i class="fa fa-bolt-lightning"></i><a href="/sell"> Quick Sell</a>
        </div>
    </div>
    <div class="icons">
        <div>
            <a href="/sell"><i class="fa fa-bolt-lightning"></i></a>
        </div>
        <div>
            <i class="fa fa-user"></i>
        </div>
        <div>
            <i class="fa fa-star"></i>
        </div>
        <div>
            <i class="fa fa-cart-shopping"></i>
            <div class="label">10</div>
        </div>
        <div>
            <i class="fa fa-bell"></i>
            <div class="label">8</div>
        </div>
    </div>
</div>
