<div class="container">
    <div>
        <div>Hello, Random User</div>
        <div>|</div>
        <div><a href="/sell">
            <i class="fa fa-bolt-lightning"></i> Quick Sell
        </a></div>
    </div>
    <div>
        <div>
            <i class="fa fa-user"></i>
        </div>
        <div>
            <i class="fa fa-star"></i>
        </div>
        <div>
            <i class="fa fa-cart-shopping"></i>
            <div class="label">10</div>
        </div>
        <div>
            <i class="fa fa-bell"></i>
            <div class="label">8</div>
        </div>
    </div>
</div>
