:host(.page) {
    overflow:hidden;
}

.heading {
    position: sticky;
    top:0;
    z-index:9999;
    width:100vw;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.body {
    overflow: auto;
}