.theme-switcher {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    z-index: 999;
    background: transparent;
    color: transparent;
    border: transparent;
    cursor: pointer;
}
