
:host(.section__container) {
    max-width: 1300px;
    width: 100%;
    display: flex;
    gap: 16px;
    margin:16px auto 16px auto;
    padding: 0 15px;
    flex-direction: column;
}

:host(.section__container--row) .item {
    flex: 1 1 0px;
}

@media (min-width: 768px) {
    :host(.section__container--row) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}
