/* You can add global styles to this file, and also import other style files */
@import "modern-css-reset";
@import "@fortawesome/fontawesome-free/css/all.css";

body {
    font-family: 'Onest', sans-serif;
    min-height: unset;
}

*,
:after,
:before {
    box-sizing: border-box
}

:root {
    --dark-blue: #192348;
    --bg-blue: #2978b6;
    --orange: #f4a137;
    --green: #9fbd47;
    --white: #fff;
}

.footer a{
    font-size: 14px;
    color:var(--white);
    text-decoration: none;
}

.footer a:hover {
    color:var(--orange);
}